<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>로그인 화면</title>
    <style media="screen">
    header{
      font-size: 20px;
      padding-left: 30px;
      padding-bottom: 5px;
      border-bottom: 1px solid gray;
      width: 100%;
    }
    </style>
  </head>
  <body>
    <header>
      택배 주문 관리
    </header>
    <form method="post">
      <p>핸드폰 번호를 입력해주세요.</p>
      <select class="" name="p1" id="p1">
        <option value="010">010</option>
        <option value="011">011</option>
        <option value="017">017</option>
        <option value="019">019</option>
      </select>
      - <input type="text" name="p2" value="" size="4" id="p2"> - <input type="text" name="p3" value="" size="4" id="p3">
      <input type="submit" name="" value="로그인">
    </form>

  </body>
</html>
